#Title {
  font-family: Verdana;
  font-style: italic;
  font-size: 60px;
  color: white;
}
#intro {
  font-family: Verdana;
  font-style: italic;
  font-size: 20px;
  color: white;
  border: 4px black;
  outline-color: green;
}

#MusicLabel {
  font-family: Verdana;
}

#YouTubeChannel {
  font-family: Verdana;
}

#Aelon {
  font-family: Verdana;
  font-style: italic;
}

body {
  color: black;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}

      
      
