/* This is the Title */
#Title {
  font-family: Verdana;
  font-style: italic;
  font-size: 60px;
  color: white;
  position: middle;
  text-align: center;
}

div#fixedheader {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding-top:20px;
  padding-bottom:20px;
}

/* This is the paragraph */
#intro {
  font-family: Verdana;
  font-style: italic;
  font-size: 20px;
  color: white;
  border: 4px black;
  outline-color: green;
}

#MusicLabel {
  font-family: Verdana;
}

#YouTubeChannel {
  font-family: Verdana;
}

#Aelon {
  font-family: Verdana;
  font-style: italic;
}

#Body { 
  background-color: black;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: Verdana;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    right: 0;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: right;
}

img {
  display: block;
  margin: auto;
  margin-bottom: 50px;
}
/* Links inside the dropdown */
.dropdown-content a {
    font-family: Verdana;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}

      
      
