#Title {
  font-family: Verdana;
  text-align: center;
  color: white;
  font-style: italic;
}

div#fixedheader {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding-top:20px;
  padding-bottom:20px;
}

#Home {
  font-family: Verdana;
}

#Logo {
  font-family: Verdana;
  text-align: center;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: green;
}

a:active {
    text-decoration: none;
    color: blue;
}

#Paragraph {
  font-family: Verdana;
  text-align: center;
  color: white;
}

body {
  background-color: black
}

